<h2>Calendar: Event</h2>
<div class="flash flash flash_error">
  <span>
  Ospravedlňujeme sa, ale v module nahrávania obrázku sa momentálne nachádza chyba vďaka ktorej sa po nahratí obrázku zmažú všetky vyplnené údaje vo formulári. 
  Preto odporúčame pripojiť obrázok k udalosti pred vyplnením ostatných položiek.<br>
  Na oprave pracujeme.
  </span>
  <hr>
  <p>
    We apologize, because in image upload modul is bug which cause reset all form inputs after image upload.<br>
    We recommend upload image and append it to event before fill any other inputs.<br>
    We work on fix.
  </p>
</div>
<%= form_for [refinery, :calendar_admin, @event] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @event,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest'  -%>
  </div>

  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:description].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to t("#{part}", :scope => "activerecord.attributes.refinery/calendar/event", :default => part.to_s.titleize), "##{part}" %>
          </li>
        <% end %>
      </ul>
      <div id='page_part_editors'>
        <% [:description].each do |part| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <%= render '/refinery/admin/form_advanced_options_menu', :f => f %>

  <div id='more_options' style="display:none;">
    <div class="hemisquare">

      <div class='field'>
        <h3><%= t('title', :scope => 'refinery.calendar.admin.submenu.categories') %></h3>
        
        <% if @categories.any? %>
        <ul class="categories" style="padding-left: 0px; list-style: none;margin-left: 0px;">
          <% @categories.each do |category| %>
          <li>
             <%= check_box_tag 'event[category_ids][]', category.id,
                               @event.categories.include?(category),
                               :id => (id="event_category_ids_#{category.id}") %>
             <%= label_tag 'event[category_ids][]', category.title,
                           :class => 'stripped',
                           :for => id %>
          </li>
          <% end %>
        </ul>
        <% else %>
        <p>
          <%= t('no_items_yet', :scope => 'refinery.calendar.admin.categories.records') %>
        </p>
        <% end %>
      </div>

      <div class='field'>
        <h3><%= t('title', :scope => 'refinery.calendar.admin.submenu.places') %></h3>
        <% if @places.any? %>       
          <%= f.select :location_id, @places.map { |p| [p.title, p.id] } %>
        <% else %>
          <p>
            <%= t('no_items_yet', :scope => 'refinery.calendar.admin.places.records') %>
          </p>
        <% end %>
      </div>

      <div class='field'>
        <%= f.label :published_at -%>
        <%= f.datetime_select :published_at %>
      </div>
      
      <div class="field">
        <%= f.check_box :featured %>
        <%= f.label :featured, :class => 'stripped' %>
      </div>

    </div>
    <div class='hemisquare right_side'>

      
    </div>
  </div>

  <div class="clearfix">
    <div class="hemisquare">

      <div class='field'>
        <%= f.label :start_date -%>
        <%= f.datetime_select :start_date, :default => Time.now.tomorrow.change(:hour => 18, :minute => 0) %>
      </div>

      <div class='field'>
        <%= f.label :end_date -%>
        <%= f.datetime_select :end_date, :default => Time.now.tomorrow.change(:hour => 20, :minute => 0) %>
      </div>

    </div>
    <div class='hemisquare right_side'>

      <div class='field'>
        <%= f.label :image -%>
        <%= render :partial => "/refinery/admin/image_picker", :locals => {
              :f => f,
              :field => :image_id,
              :image => @event.image,
              :toggle_image_display => false
            } %>
      </div>

    </div>
  </div>
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.events.admin.events.event'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @event.title) %>
<% end -%>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'chosen' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');

      $('#event_place_id').chosen({
        no_results_text: "No results matched",
        allow_single_deselect: true
      });
    });
  </script>
<% end %>
