<%
featured ||= false
individual ||= false
archive ||= false
category ||= false

event_class = 'thing clearfix'
event_class += ' highlight' if event.featured?

-%>

<%= div_for event, :class => event_class do -%>
  <div class="thing-image" >
  <%= link_to refinery.calendar_event_path(event) do -%>
    <% if event.image %>
      <%= image_fu event.image, "150x150#c" %>
    <% else %>    
      <img src="/assets/default_event.png" width="150" height="150" />
    <% end %>
  <% end %>
  </div>
  <div class="thing-detail">
    <header class="header thing-header">
      <%= link_to refinery.calendar_event_path(event, :format => :ics), :class => 'ical', :title => 'ICAL' do -%>
        <img src="/assets/icons/date_add.png" alt="ical">
      <% end %>
      <h3><%= link_to event.title, refinery.calendar_event_path(event) %></h3>
      <div class="thing-date">
        <%= smart_date_for(event) %>
      </div>
    </header>
    <div class="thing-description">
      <%= simple_format(truncate strip_tags(event.description), :length => ::Refinery::Calendar.events_desc_length) %>
    </div>
    <footer class="footer thing-footer">
      <%= render 'social', :event => event, :individual => false if ::Refinery::Calendar.social_buttons %>
    </footer>
  </div>
<% end -%>

