<% date_format = params[:month].present? ? '%B %Y' : '%Y' -%>
<% title = "#{t('.events_in')} #{@archive_date.strftime(date_format)}" -%>
<% content_for :title, title %>
<% content_for :body_content_title, title %>

<% content_for :body do %>
	<div id="events">
		<%= render :partial => 'event', :collection => @events, :locals => { :archive => true } %>
	</div>
	<%= will_paginate @events %>

	<% if @archive_events_dates.any? %>
	  <section id="archives" class="clearfix" >
	    <h2><%= t('archives', :scope => 'refinery.calendar.events.index') %></h2>
	    <%= events_archive_list(@archive_events_dates) %>
	  </section>
	<% end %>
<% end %>

<%= render '/refinery/calendar/content' %>