<% content_for :body do %>

  <%=raw @page.content_for(:body) %>

  <% if @events.any? %>
    <section id="events" class="events">
      <div class="events-list">
        <%= render :partial => 'event', :collection => @events %>
      </div>

      <%= will_paginate @events %>
    </section>

  <% else %>
    <section class="flash info">
      <%= t('.none_events') %>
    </section>
  <% end %>
  <% if @archive_events_dates.any? %>
    <section id="archives" class="clearfix" >
      <h2><%= t('.archives') %></h2>
      <%= events_archive_list(@archive_events_dates) %>
    </section>
  <% end %>

<% end %>

<%= render '/refinery/calendar/content' %>