<% content_for :body do %>

  <%=raw @page.content_for(:body) %>

  <% if @events.any? %>
    <section id="events" class="events">
      <%= render :partial => 'event', :collection => @events %>
    </section>
    <%= will_paginate @events %>
  <% else %>
    <section class="flash info">
      <%= t('.none_events') %>
    </section>
  <% end %>

  <section id="archives">
  <%#= events_archive_list %>
  
  </section>

<% end %>

<%= render '/refinery/calendar/sidebar' %>
<%= render '/refinery/content_page' %>

