<% content_for :body_content_title do %>
  <%= @event.title %>
<% end %>
<% content_for :body do %>

<div  id="event" class="event clearfix">
  <div class="event-content">
    <div class="event-image" >
      <% if @event.image %>
        <%= image_fu @event.image, "150x150#c" %>
      <% else %>    
        <img src="/assets/default_event.png" width="150" height="150" />
      <% end %>
    </div>
    <div class="event-detail">
      <header class="event-header">
        <%= link_to refinery.calendar_event_path(@event, :format => :ics), :class => 'ical', :title => 'ical export' do -%>
          <img src="/assets/refinery/icons/add.png" alt="ical">
        <% end %>
        <div class="event-date">
          <%= smart_date_for(@event) %>
        </div>
      </header>
      <div class="event-description">
        <%= sanitize(@event.description.to_s, :tags => ::Refinery::Calendar.allowed_tags, :attributes => ::Refinery::Calendar.allowed_tag_attributes) %>
      </div>
      <% if @event.place.present? %>
        <div class="event-place">
          <%= @event.place.title %>
        </div>
      <% end -%>
      <% if @event.categories.any? %>
        <div class="event-categories">
          <% @event.categories.each do |category| -%>
            <span class="category"><%= category.title %></span>
          <% end -%>
        </div>
      <% end %>
      <footer class="footer event-footer">
        <div class="event-social">
          Share event
        </div>
      </footer>
    </div>
  </div>
</div>
<% end %>

<% content_for :side_body do %>
&nbsp;
<% end %>

<% content_for :stylesheets, stylesheet_link_tag('refinerycms-events') %>

<%= render '/refinery/content_page' %>
