<% content_for :title, @event.title %>
<% content_for :body_content_title, @event.title %>
<% content_for :body do %>
<%

event_class = 'event thing'
event_class += ' highlight' if @event.featured?

-%>
<div id="event" class="<%= event_class %>">
  <div class="thing-content clearfix" style="margin-bottom: 2em;">
    <div class="thing-image" >
      <% if @event.image %>
        <%= image_fu @event.image, "150x150#c" %>
      <% else %>    
        <img src="/assets/default_event.png" width="150" height="150" />
      <% end %>
    </div>
    <div class="thing-detail">
      <header class="thing-header">
        <%= link_to refinery.calendar_event_path(@event, :format => :ics), :class => 'ical', :title => 'ical export' do -%>
          <img src="/assets/icons/date_add.png" alt="ical">
        <% end %>
        <h2 class="thing-date">
          <%= smart_date_for(@event) %>
        </h2>
        <% if @event.place.present? %>
        <h3 class="thing-place">
          <%= link_to @event.place.title, refinery.calendar_place_path(@event.place) %></span>
        </h3>
      <% end -%>
      </header>
      <div class="thing-description">
        <%= sanitize(@event.description.to_s, 
                    :tags => ::Refinery::Calendar.html_allowed_tags, 
                    :attributes => ::Refinery::Calendar.html_allowed_tag_attributes) %>
      </div>
      <% if @event.categories.any? %>
        <div class="thing-categories">
          <% @event.categories.each do |category| -%>
            <span class="category"><%= link_to category.name, refinery.calendar_category_path(category) %></span>&nbsp;
          <% end -%>
        </div>
      <% end %>
      <footer class="footer thing-footer">
        <%= render 'social', :event => @event, :individual => true if Refinery::Calendar.social_buttons %>
      </footer>
    </div>
  </div>
  <nav id="prevnext_nav">
    <span class="prev third">
      <% if @event.prev.present? -%>
        <%= link_to refinery.calendar_event_path(@event.prev), :class => "prev button" do -%>
          &laquo; Previous <strong><%=truncate @event.prev.title, :length => 20 %></strong>
        <% end -%>
      <% else -%>
        <span class="prev disabled button">
          &laquo; Previous
        </span>
      <% end -%>
    </span>

    <%= link_to refinery.calendar_root_url, :class => "home button" do -%>
      Events home
    <% end -%>

    <span class="next third">
      <% if @event.next.present? -%>
        <%= link_to refinery.calendar_event_path(@event.next), :class => "next button" do -%>
          Next <strong>
            <%=truncate @event.next.title, :length => 20 %></strong> &raquo;
        <% end -%>
      <% else -%>
        <span class="next disabled button">
          Next &raquo;
        </span>
      <% end -%>
    </span>
  </nav><!--#event_nav-->  
</div>

<% if @archive_events_dates.any? %>
  <section id="archives" class="clearfix" >
    <h2><%= t('archives', :scope => 'refinery.calendar.events.index') %></h2>
    <%= events_archive_list(@archive_events_dates) %>
  </section>
<% end %>
<% end %>

<%= render '/refinery/calendar/sidebar' %>
<%= render '/refinery/content_page' %>
